@font-face {
    src: url(fonts/iCielSoupofJustice.ttf);
    font-family: Icielsoup;
  }
.font-1{
    font-family: Icielsoup;
}

html {
    height: 100%;
    background-image: url(images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  
  body {
    margin: 0;
    padding: 0;
    
  }

  .header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: smaller;
}

.container {
    width: 130px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #d695c6;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 13px;
    padding: 10px;
  }


  .logo2 {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 0px;
  }

.logo1 {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}
  
.title {
    margin-top: 25px;
    margin-left: 10px;
    color: white;
}

.title2 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    white-space: pre-line;
    text-align: center;
    align-items: center;
}

.button2 {
    height: 60px;
    width: 340px;
    position: relative;
    left: 50%;
    margin-top: 75px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 34px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: left 0.4s;
    z-index: -1;
  }
  
  .button2:hover {
    color: white;
    background-color: black;
  }
  
  #file-upload {
    display: none;
  }