@font-face {
  font-family: 'SVN-Product Sans';
  src: url('../fonts/SVN-ProductSansBoldItalic.eot');
  src: url('../fonts/SVN-ProductSansBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SVN-ProductSansBoldItalic.woff2') format('woff2'),
      url('../fonts/SVN-ProductSansBoldItalic.woff') format('woff'),
      url('../fonts/SVN-ProductSansBoldItalic.ttf') format('truetype'),
      url('../fonts/SVN-ProductSansBoldItalic.svg#SVN-ProductSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Product Sans';
  src: url('../fonts/SVN-ProductSans.eot');
  src: url('../fonts/SVN-ProductSans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SVN-ProductSans.woff2') format('woff2'),
      url('../fonts/SVN-ProductSans.woff') format('woff'),
      url('../fonts/SVN-ProductSans.ttf') format('truetype'),
      url('../fonts/SVN-ProductSans.svg#SVN-ProductSans') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Product Sans';
  src: url('../fonts/SVN-ProductSansBold.eot');
  src: url('../fonts/SVN-ProductSansBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SVN-ProductSansBold.woff2') format('woff2'),
      url('../fonts/SVN-ProductSansBold.woff') format('woff'),
      url('../fonts/SVN-ProductSansBold.ttf') format('truetype'),
      url('../fonts/SVN-ProductSansBold.svg#SVN-ProductSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Product Sans';
  src: url('../fonts/SVN-ProductSansItalic.eot');
  src: url('../fonts/SVN-ProductSansItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SVN-ProductSansItalic.woff2') format('woff2'),
      url('../fonts/SVN-ProductSansItalic.woff') format('woff'),
      url('../fonts/SVN-ProductSansItalic.ttf') format('truetype'),
      url('../fonts/SVN-ProductSansItalic.svg#SVN-ProductSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  font-family: 'SVN-Product Sans';
}

a:-webkit-any-link {
  color: inherit;
}

html {
    height: 100%;
    background-image: url('../images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  
  body {
    margin: 0;
    padding: 0;
    
  }

  .header {
    display: flex;
    align-items: center;
    
    font-size: smaller;
}

.layer-content, .findmore {
  flex: 1;
}

.container {
    width: 130px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    
    font-weight: bold;
    color: #d695c6;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 13px;
    padding: 10px;
  }


  .logo2 {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 0px;
  }

.logo1 {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}
  
.title {
    margin-top: 25px;
    margin-left: 10px;
    color: white;
}

.layer {
  
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 9999;
}

.ortitle {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.layer-content {
  margin-left: 20px;
  color: white;
}

.findmore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.findbk {
  display: none;
}

.note {
  color: white;
  font-size: 20px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.vidtitle {
  font-size: 30px;
  margin-top: 15px;
  color: white;
}

.button3 {
  margin-top: 50px;
  height: 30px;
  width: 340px;
  background-color: white;
  font-weight: bold;
  
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 34px;
  transition-duration: 0.4s;
  cursor: pointer;
  overflow: hidden;
}
  
  .button3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: left 0.4s;
    z-index: -1;
  }
  
  .button3:hover {
    color: white;
    background-color: black;
  }

  @media (max-width: 900px) {
    .layer {
      transform: scale(0.6);
      margin-top: 50px;
    }
  } 

  @media (max-width: 1100px) {

    html {
      height: 100%;
      width: auto;
      background-image: url('../images/bg2x2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .layer {
      flex-direction: column;
      align-items: center;
    }
  
    .layer-content {
      margin-bottom: 20px;
    }
  }

  .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .button-with-image {
    margin-top: 10px;
  }
  
  .button-with-image__button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 34px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button-with-image__button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 34px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button-with-image__button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 34px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
  }

  .button-with-image1 {
    flex-basis: calc(33.33% - 10px);
    margin-top: 10px;
  }
  
  .button-with-image2 {
    flex-basis: calc(33.33% - 10px);
    margin-top: 10px;
  }

  .button-with-image3 {
    flex-basis: calc(33.33% - 10px);
    margin-top: 10px;
  }
  
  .button-with-image__button1 img {
    width: 80px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .button-with-image__button2 img {
    width: 80px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .button-with-image__button3 img {
    width: 80px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .song-list {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin-left: 60px;
    margin-right: 20px;
  }

  .column2 {
    flex: 1;
    margin-right: 20px;
  }
  
  @media (max-width: 700px) {
    .column2 {
      display: none;
    }

    .newssub {
      margin-left: 80px;
      margin-right: 80px;
    }
  }

  .column:first-child {
    margin-right: 10px;
  }
  
  .song a {
    text-decoration: none;
  }

.song {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px; 
    position: relative;
    transform: scale(0.9); 
    width: 80%;
    }
  
  .song-rank {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .song-details {
    margin-left: 10px;
    text-align: left;
  }
  
  .song-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px; 
  }
  
  .artist-name {
    font-size: 16px; 
    color: gray;
  }
  
  .song-image {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .song:last-child {
    border-bottom: none;
  }

  .song::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.2)); /* Gradient cho vạch kẻ */
  }

  @media (min-width: 1300px) {
    .button {
      margin-top: 50px;
    }
  }

  @media (max-width: 700px) {
    .cen {
      font-size: 14px;
    }
  }

  .main2 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }

  .newstitle {
    margin-top: 70px;
    font-size: 50px;
    margin-bottom: 0px;
  }

  .newssub {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }

  .main3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main3_3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }

  .artitle {
    font-size: 50px;
    margin-bottom: 0px;
  }

  .subar {
    font-size: 20px;
    font-weight: lighter;
  }
  
  .chartsart {
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 1500px) {
    .image-box img {
      max-width: 100%;
      height: auto;
    }
  }

  .left, .middle, .right {
    width: 30%;
  }
  
  .image-box {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
  }
  
  .image-box img {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .ranking {
    font-weight: bold;
  }
  
  .artist-name {
    font-size: larger;
    font-weight: lighter;
    color: black;
  }

  .main4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }

    .image-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
    }
    
    .image-container {
      position: relative;
      margin-top: 30px;
    }
    
    .image-container img {
      width: 95%;
      height: auto;
      border-radius: 2px;
    }
    
    .text-container {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff;
    }
    
    .big-text {
      font-size: 28px;
      margin-bottom: 20px;
    }
    
    .small-text {
      font-size: 17px;
    }
    
    .text-container {
      margin-left: 20px;
    }

    .etitle {
      font-size: 50px;
      margin: 0px;
      margin-top: 40px;
    }

    .subar {
      font-size: 20px;
    }

    @media (max-width: 700px) {
      .image-grid {
        display: block;
      }
    }

    @media (max-width: 900px) {
      .big-text {
        font-size: 17px;
      }

      .small-text {
        font-size: 14px;
      }
    }